html
{
    background-image: url("images/bg-pattern-top-desktop.svg"),url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position:left top, right bottom;
    background-size: auto;
    font-family: 'Spartan', sans-serif;
}
body
{
    width: 80%;
    margin: auto;
}
.upper-div
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.upper-right-div
{
    width: 45%;
}
.upper-right-div-ul1
{
    margin-top: 15px;
}
.upper-right-div-ul2
{
    margin-top: 15px;
    margin-left: 42px ;
}
.upper-right-div-ul3
{
    margin-top: 15px;
    margin-left: 84px ;
}

.upper-left-div
{
    width: 35%;
    margin: auto;
}
.upper-left-div-p1
{
    color: hsl(300, 43%, 22%);
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0px;
}
.upper-left-div-p2
{
    color: hsl(303, 10%, 53%);
    font-size: 12px;
    font-weight: 400;
}

.div-ul
{
    display: flex;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    width: 80%;
    border-radius: 7px;
    height: 50px;
}

.rate-p
{
    color: hsl(300, 43%, 22%);
    font-size: 12px;
    font-weight: 700;
    padding-left: 30px;
}
.right-ul
{
    display: flex;
    list-style-type: none;
    padding-left: 20px;
}
.right-ul li
{
    padding: 3px;
}
.lower-div
{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 50px 0px 94px 0px;

}
.div-profile
{
    background-color: hsl(300, 43%, 22%);
    width: 270px;
    height: 150px;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 20px;
}
.div-flex
{
    display: flex;
    align-items: center;
}
.lower-div img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.div-name
{
    font-size: 12px;
    color: hsl(300, 24%, 96%);
    font-weight: 700;
}
.div-buy
{
    font-size: 12px;
    color: hsl(333, 80%, 67%);
}
.div-flex p
{
    line-height: 6px;
    margin-left: 20px;
}
.div-text
{
    color: hsl(300, 24%, 96%);
}
.lower-center-div
{
    margin-top: 20px;
}
.lower-right-div
{
    margin-top: 40px;
}


@media screen and (max-width: 375px) 
{
html
{
    background-image: url("images/bg-pattern-top-mobile.svg"),url("images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position:left top, right bottom;
    background-size: auto;
    font-family: "Spartan sans-serif";    
}
body
{
    width: 90%;
    margin: auto;
}
.upper-div
{
    flex-direction: column;
    margin-top: 100px;
}
.upper-right-div
{
    width: 90%;
    margin: 20px auto;
}
.upper-left-div
{
    width: 90%;
    margin: auto;
}
.upper-left-div-p1
{
    color: hsl(300, 43%, 22%);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.upper-left-div-p2
{
    color: hsl(303, 10%, 53%);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.div-ul
{
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsl(300, 24%, 96%);
    width: 100%;
    margin: 10px 0;
    border-radius: 7px;
    height: 70px;
}

.rate-p
{
    color: hsl(300, 43%, 22%);
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
}
.right-ul
{
    display: flex;
    list-style-type: none;
    margin: 0px;
    
}
.right-ul li
{
    padding: 3px;
}
.lower-div
{
    flex-direction: column;
    width: 90%;
    margin: auto;
    font-size: 12px;
}
.div-profile
{
    background-color: hsl(300, 43%, 22%);
    align-content: center;
    width: 90%;
    height: 200px;
    margin: 10px 0px;
    border-radius: 10px;
}
.div-flex
{
    display: flex;
    align-items: center;
}
.lower-div img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.div-name
{
    font-size: 12px;
    color: hsl(300, 24%, 96%);
    font-weight: 700;
}
.div-buy
{
    font-size: 12px;
    color: hsl(333, 80%, 67%);
}
.div-flex p
{
    line-height: 6px;
    margin-left: 20px;
}
.div-text
{
    color: hsl(300, 24%, 96%);
    line-height: 25px;
}


}
